---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts, { getSortedProjects } from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import Photo from "@components/Photo.astro";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const projects = await getCollection("project");
const sortedProjects = getSortedProjects(projects);
const featuredProjects = sortedProjects.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter((social) => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>marcell - dev fullstack</h1>
      <p>
        ola! seja bem-vindo(a). por aqui voce vai encontrar um pouco sobre mim,
        meus projetos de programacao e algumas informacoes que gosto de
        compartilhar
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    <section id="featured">
      <h2 class="about-me-title">sobre mim</h2>
      <div class="about-me-grid">
        <Photo />
        <div>
          <p>Marcell, Bacharelando em Ciência da Computação, Desenvolvedor Web FullStack com aproximadamente 1 ano de experiência. Aprecio conceitos como DRY, SOLID, KISS e Clean Code durante a codificação de aplicações, com foco no desenvolvimento de aplicações escaláveis e performáticas, utilizando tecnologias da atualidade. Como um bom Júnior, também adoro experimentar novas tecnologias. Atualmente trabalho com o ecossistema Typescript com foco na Web, utilizando Next.js e Node.js. No back-end que é minha stack, atualmente utilizo C# e .NET para criação de aplicações. Também tenho projetos pessoais em Rust e Python. Tenho um gato chamado Django e amo pizza. Sou curioso e inquieto. Sempre estudando algo novo ou fazendo algum projeto.</p>
          <p>Sobre os projetos desafiadores, tenho o principal que é uma aplicação web com objetivo de ser o CRM pessoal de uma empresa. Aplicação feita em Next.js. Implementei arquitetura MVVM para melhor escalabilidade do projeto, utilizei soluções de memoização/cache para melhor performance da aplicação tanto no back-end quanto no front-end. Atuei no deploy dessa aplicação numa VPS rodando ubuntu 22 feito com pm2 e nginx utilizando proxy reverso. Banco de dados PostgreSQL rodando em um servidor físico empresarial com Windows Server. Durante a criação do projeto enfrentei diversos desafios que foram vencidos com muita pesquisa e dedicação.
          Meu maior projeto atual em C# é uma API de perfis de portfólio. O usuário criará seu perfil e adicionará informações como experiêncais profissionais, habilidades, certificados acadêmicos para consumir em seu portfólio de forma simples e dinâmica. Também nessa aplicação atuei na implementação de cache distribuído/redis. Banco de dados SQL Server na Azure<p>
        </div>
      </div>
    </section>

    <Hr />

    {
      featuredProjects.length > 0 && (
        <section id="featured">
          <h2>projetos selecionados</h2>
          {featuredProjects.map(({ data, slug }) => (
            <Card
              href={`/projects/${slug}`}
              frontmatter={data}
              secHeading={false}
            />
          ))}
          <a href="/projects">projetos</a>
        </section>
      )
    }

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>posts selecionados</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  #social-link {
    color: rgba(0, 0, 253, 0.594);
  }
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
  .about-me-grid {
    /* centralize image when is mobile */
    @apply grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center;
  }
  .about-me-title {
    @apply text-center text-2xl font-semibold mb-5 sm:text-3xl sm:items-center;
  }
</style>
